  class="{% if page.on_branch %}on-branch{% endif %}">
  {% if error %}
  <a class="ui-btn-left" data-icon="back" data-rel="back">Back</a>
  {% elsif page.metadata.backlink and page.metadata.backlink != "" %}
  <a class="ui-btn-left" data-icon="back" href="/{{ page.metadata.backlink }}">Back</a>
  {% else %}
    {% if email and email != '' %}
  <a class="ui-btn-left" href="/logout">Logout <span class="username wide-only">{{ email }}</span></a>
    {% else %}
  <a data-theme="b" class="ui-btn-left" href="/login">Login</a>
    {% endif %}
  {% endif %}
  <h1>{% if page.metadata.title != '' %}{{ page.metadata.title }}{% else %}{{ default_title }}{% endif %}</h1>
  {% if for_approval and page.on_branch %}
  <a class="ui-btn-right" data-theme="b" href="/{{ page.name }}/approve/{{ page.metadata.author }}" 
    data-icon="pencil">Edit &amp; Merge</a>
  {% else %}
  <a class="ui-btn-right" data-theme="" href="/{{ page.name }}/edit" data-icon="pencil">Edit</a>
  {% endif %}
  
  {% if just_auth %}
    {% if email and email != '' %}
  <div class="ui-body ui-bar-e auth-flash">Thanks for logging in, {{ email }}</div>
    {% else %}
  <div class="ui-body ui-bar-e auth-flash">You have been logged out</div>
    {% endif %}
  {% endif %}
  
  {% if page.on_branch %}
    {% if for_approval %}
  <div class="ui-body ui-bar-e on-branch-message">
    This version
    {% if page.conflicts %}is{% else %}contains edits{% endif %}
    by {{ page.metadata.author }}.
  </div>
    {% else %}
  <div class="ui-body ui-bar-e on-branch-message">This version is waiting for approval
    by {% if page.metadata.owner %}{{ page.metadata.owner }}{% else %}{{ editors | first }}{% endif %}
  </div>
    {% endif %}
  {% elsif for_approval %}
    <div class="ui-body ui-bar-e on-branch-message">
      The version you tried to open was merged or deleted
    </div>
  {% endif %}
