<div data-role="header">
  <a data-rel="back" data-icon="back" href="{{ back | escape }}">Back</a>
  <h1>Login</h1>
</div>
  
<div data-role="content">
  
<form method="POST" action="/login">
  <p>
    You must login to submit changes.  Please provide your
    <strong>@{{ domain | escape }}</strong> address, and we will email a link
    to authorize you to this device or browser.
  </p>
  <div class="display-table">
    <div class="display-table-row">
      <label for="email" class="ui-hidden-accessible">Email</label>
      <input type="text" name="email" id="email" value="" placeholder="first.last"/>
      <div class="domain">@{{ domain | escape }}</div>
    </div>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a class="cancel" href="{{ back | escape }}" data-role="button">Cancel</a></div>
    <div class="ui-block-b"><input type="submit" data-theme="e" value="Send me a link"/></div>
  </fieldset>
  <input type="hidden" name="back" value="{{ back | escape }}">
</form>

</div><!-- /content -->
