<div data-role="header">
  
  <a data-icon="back"
    {% if auth_cancel %}href="{{ auth_cancel | escape }}"{% else %}rel="back"{% endif %}>
    Back
  </a>
  <h1>Login</h1>
</div>
  
<div data-role="content">
  
<form method="POST" action="/login" class="login-form">
  {% unless auth_enabled %}
  <div class="ui-body ui-body-e">
    <strong>Auth is not enabled.</strong>  Please enable it in config.yaml.
  </div>
  {% endunless %}
  
  {% if error %}
  <div class="ui-body ui-body-e">
    {% case error %}
    {% when 'implausible_domain' %}
      Sorry, that wasn't a plausible domain!
    {% when 'implausible_username' %}
      Sorry, that wasn't a plausible username!
    {% when 'key_expired' %}
      The key we sent to <strong>{{ sent_to | escape }}</strong> has expired.<br/>
      Please use the form below to send a new one.
    {% when 'too_soon' %}
      You can't send another key to that email address yet.<br/>Please wait a few minutes and try again.
    {% when 'locked_out' %}
      You have entered too many incorrect codes for {{ sent_to | escape }}.
      <br/>Please wait a few minutes and then try sending another email.
    {% when 'session_problem' %}
      Something happened on our servers and we couldn't log you in.<br/>Sorry about that, please try again!
    {% when 'invalid_key' %}
      That six-digit code was incorrect.
      Caution, you only get <strong>{{ max_failures }}</strong> total attempts to enter a correct code!
    {% when 'send_different' %}
      A code has already been sent to <strong>{{ sent_to | escape }}</strong>;
      you may try a different address below.
    {% else %}
      You are already logged in as <strong>{{ error }}</strong>.
    {% endcase %}
  </div>
  {% endif %}
  
  {% if sent %}
  
  <p>
    A six-digit code was sent to <strong>{{ sent_to | escape }}</strong>.
    Please check your email and enter the code here.  Be careful, because you only have
    <strong>{{ max_failures }}</strong> attempts to enter it correctly!
  </p>
  <p class="key-cont">
    <input name="key" id="key" type="tel" size="6" maxlength="6" class="key"/>
  </p>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a class="cancel" href="{{ auth_cancel | escape }}" data-role="button">Cancel</a></div>
    <div class="ui-block-b"><input type="submit" data-theme="e" value="Login"/></div>
  </fieldset>
  <p class="secondary">
    If you didn't receive anything, you can try <a href="/login?error=send_different">sending another email.</a>
  </p>
  
  {% else %}
  
  <p>
    {% if auth_reason %}
      {{ auth_reason }}
    {% else %}
      You must login to submit changes.
    {% endif %}
    Please provide your e-mail address, and we will email you a six-digit
    code to authorize you to this device or browser.
  </p>
  <p>
    Once you authorize this device, you shouldn't have to re-enter any codes
    as long as you access the EHHapp at least once every couple months.
  </p>
  <fieldset class="ui-grid-a" data-role="fieldcontain">
    <div class="ui-block-a"><label for="username">Email</label><input type="text" name="username" id="username" value="" placeholder="first.last"/></div>
    <div class="ui-block-b domain-cont">
      <select name="domain" id="domain">
        {% for domain in domains %}
        <option value="{{ domain }}">@{{ domain | escape }}</option>
        {% endfor %}
      </select>
    </div>
  </fieldset>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a class="cancel" href="{{ auth_cancel | escape }}" data-role="button">Cancel</a></div>
    <div class="ui-block-b"><input type="submit" data-theme="e" value="Send code"/></div>
  </fieldset>
  
    {% if error and error == 'send_different' %}
  <p class="secondary">
    If you received a code already, <a href="/login">try entering it here.</a>
  </p>
    {% endif %}
  
  <input type="hidden" name="auth_for" value="{{ auth_for | escape }}">
  
  {% endif %}
  
</form>

</div><!-- /content -->
